@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, img {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
}

nav {
  display: block;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  display: block;
}

li {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: 'GoodDog';
  src: url("../fonts/GoodDog.eot");
  src: local("☺"), url("../fonts/GoodDog.woff") format("woff"), url("../fonts/GoodDog.ttf") format("truetype"), url("../fonts/GoodDog.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoodDog Cool';
  src: url("../fonts/GoodDog Cool.eot");
  src: local("☺"), url("../fonts/GoodDog Cool.woff") format("woff"), url("../fonts/GoodDog Cool.ttf") format("truetype"), url("../fonts/GoodDog Cool.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Montserrat;
  font-weight: 400;
}

.conteiner {
  max-width: 1286px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 10px;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 1140px;
  }
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, img {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
}

nav {
  display: block;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  display: block;
}

li {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: 'GoodDog';
  src: url("../fonts/GoodDog.eot");
  src: local("☺"), url("../fonts/GoodDog.woff") format("woff"), url("../fonts/GoodDog.ttf") format("truetype"), url("../fonts/GoodDog.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoodDog Cool';
  src: url("../fonts/GoodDog Cool.eot");
  src: local("☺"), url("../fonts/GoodDog Cool.woff") format("woff"), url("../fonts/GoodDog Cool.ttf") format("truetype"), url("../fonts/GoodDog Cool.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Montserrat;
  font-weight: 400;
}

.conteiner {
  max-width: 1286px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 10px;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 1140px;
  }
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.wraper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__greyBac {
  display: none;
}

@media (max-width: 880px) {
  .header__greyBac {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
    z-index: 1;
  }
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url("../img/Header/01.webp") no-repeat center/cover;
  z-index: 1;
}

@media (max-width: 880px) {
  .header__meny {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__meny ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 78px 0;
  padding: 24px 0 0 0;
}

@media (max-width: 880px) {
  .header__meny ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 300px 0 0 0;
  }
}

.header__meny li:nth-child(2) {
  margin: 0 0 0 72px;
}

@media (max-width: 880px) {
  .header__meny li:nth-child(2) {
    margin: 0 0 0 0;
  }
}

.header__meny li:nth-child(3) {
  margin: 0 0 0 39px;
}

@media (max-width: 880px) {
  .header__meny li:nth-child(3) {
    margin: 0 0 0 0;
  }
}

.header__meny li:nth-child(4) {
  margin: 0 7px 0 26px;
}

@media (max-width: 880px) {
  .header__meny li:nth-child(4) {
    margin: 0 0 0 0;
  }
}

.header__meny a {
  font-size: 24px;
  font-weight: 100;
  color: #afc67b;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header__meny a:hover {
  color: #a9c533;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 880px) {
  .header__meny a {
    font-size: 36px;
    margin: 0 0 50px 0;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 295px 112px 0;
}

@media (max-width: 880px) {
  .logo {
    padding: 20px 0 0 0;
    margin: auto 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
  }
}

.logo a {
  z-index: 9;
}

.title {
  margin: 0 0px 147px 0;
}

@media (max-width: 880px) {
  .title {
    margin: 50px 0 100px 0;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 90px 0 100px 0;
  }
}

.title h1, .title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 880px) {
  .title h1, .title h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title h1 {
  font-size: 57px;
  color: #afc67b;
  text-transform: uppercase;
}

@media (max-width: 880px) {
  .title h1 {
    margin: 0 0 0px 0;
    z-index: 2;
  }
}

@media (max-width: 500px) {
  .title h1 {
    font-size: 38px;
  }
}

.title h2 {
  font-size: 78px;
  color: #9baf6d;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title h2 {
    font-size: 50px;
    z-index: 2;
  }
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 42px 20px 0;
}

.header__button a {
  font-size: 49px;
  color: #afc67b;
  text-transform: uppercase;
  padding: 30px 27px 29px 27px;
  background-color: #5d6942;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

@media (max-width: 550px) {
  .header__button a {
    font-size: 35px;
    z-index: 2;
  }
}

.header__button a:hover {
  color: #5d6942;
  background-color: #afc67b;
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 880px) {
  .header__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0px 0;
  }
}

.meny__burger {
  display: none;
}

@media (max-width: 880px) {
  body.lock {
    overflow: hidden;
  }
  .meny__burger {
    display: block;
    position: relative;
    float: right;
    width: 30px;
    height: 20px;
    z-index: 10;
    margin: 24px 0 0 0;
  }
  .meny__burger span {
    position: absolute;
    background-color: #afc67b;
    left: 0%;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .meny__burger:before,
  .meny__burger:after {
    content: '';
    background-color: #afc67b;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0%;
  }
  .meny__burger:before {
    top: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .meny__burger:after {
    bottom: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__meny {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #666;
    z-index: 9;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    overflow: auto;
  }
  .meny__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .meny__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .meny__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__meny.active {
    left: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, img {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
}

nav {
  display: block;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  display: block;
}

li {
  display: block;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: 'GoodDog';
  src: url("../fonts/GoodDog.eot");
  src: local("☺"), url("../fonts/GoodDog.woff") format("woff"), url("../fonts/GoodDog.ttf") format("truetype"), url("../fonts/GoodDog.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoodDog Cool';
  src: url("../fonts/GoodDog Cool.eot");
  src: local("☺"), url("../fonts/GoodDog Cool.woff") format("woff"), url("../fonts/GoodDog Cool.ttf") format("truetype"), url("../fonts/GoodDog Cool.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Montserrat;
  font-weight: 400;
}

.conteiner {
  max-width: 1286px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 10px;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 1140px;
  }
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.footer {
  background-color: #33362f;
  padding: 72px 0px 80px 0px;
}

@media (max-width: 500px) {
  .footer {
    padding: 30px 0px 38px 0px;
  }
}

.footer .conteiner {
  max-width: 1003px;
}

.footer__contetnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .footer__contetnt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__title {
  font-style: 21px;
  font-weight: 700;
  color: #e7e7e7;
  text-transform: uppercase;
}

.footer__contetntLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

@media (max-width: 650px) {
  .footer__contetntLeft {
    width: 100%;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
}

.footer__contetntLeft h2 {
  font-size: 25px;
  margin: 0px 0px 35px 0px;
}

.footer__contetntLeft .content__footer {
  font-size: 17px;
  color: #989a97;
  font-weight: 400;
  line-height: 29.17px;
}

.footer__contetntRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .footer__contetntRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__column--title {
  margin: 8px 0px 44px 0px;
}

@media (max-width: 500px) {
  .footer__column--title .footer__title {
    font-size: 30px;
    margin: 35px 0px -15px 0px;
  }
}

.footer__column--text p {
  display: inline-block;
  color: #e7e7e7;
  font-weight: 700;
  font-size: 21px;
  margin: 0px 0px 12px 0px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

@media (max-width: 500px) {
  .footer__column--text p {
    margin: 0px 0px 20px 0px;
  }
}

.footer__column--text p:hover {
  color: #758552;
}

#whatWe {
  background-color: #212121;
  position: relative;
}

@media (max-width: 991px) {
  #whatWe {
    position: static;
    padding: 40px 0 37px 0;
  }
}

.whatWe__bac {
  float: right;
}

@media (max-width: 991px) {
  .whatWe__bac {
    display: none;
  }
}

.whatWe__text {
  position: absolute;
  padding: 165px 0 0 0;
  max-width: 527px;
}

@media (max-width: 991px) {
  .whatWe__text {
    position: static;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0 20px 0;
    max-width: none;
  }
}

.whatWe__text h2 {
  color: #afc67b;
  font-family: "GoodDog Cool";
  font-size: 29px;
  margin: 0 0 43px 0;
}

@media (max-width: 991px) {
  .whatWe__text h2 {
    margin: 0 0 9px 0;
    font-size: 34px;
  }
}

.whatWe__text p {
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
}

@media (max-width: 991px) {
  .whatWe__text p {
    font-size: 14px;
    line-height: 20px;
  }
}

#Brush {
  background-color: #45493b;
  padding: 96px 0 97px 0;
}

@media (max-width: 991px) {
  #Brush {
    padding: 50px 0 44px 0;
  }
}

.Brush__content--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 105px 0 84px;
}

@media (max-width: 991px) {
  .Brush__content--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 0;
    text-align: center;
  }
}

.Brush__content--flex img {
  max-width: 27px;
  max-height: 36px;
  margin: 0 0 26px 0;
}

@media (max-width: 991px) {
  .Brush__content--flex img {
    margin: 0 0 12px 0;
  }
}

.Brush__content--flex h2 {
  font-family: 'GoodDog Cool';
  font-size: 25px;
  color: #eaeaea;
  margin: 0 0 33px 0;
}

@media (max-width: 991px) {
  .Brush__content--flex h2 {
    margin: 0 0 10px 0;
  }
}

.Brush__content--flex p {
  max-width: 307px;
  font-weight: 300;
  font-size: 17px;
  color: #eaeaea;
  line-height: 24.93px;
}

@media (max-width: 991px) {
  .Brush__content--flex p {
    max-width: 500px;
  }
}

.Brush__card {
  margin: 0 0 0 87px;
}

@media (max-width: 991px) {
  .Brush__card {
    margin: 0 0 80px 0;
    padding: 0 20px 0 20px;
  }
}

#YourPlate {
  background-color: #212121;
  padding: 82px 5px 89px 5px;
}

@media (max-width: 742px) {
  #YourPlate {
    padding: 30px 0 30px 0;
  }
}

#YourPlate .conteiner {
  background-color: #45493b;
  max-width: 1080px;
  padding: 0;
}

.titlle {
  font-family: "GoodDog Cool";
  font-size: 46px;
  color: #afc67b;
  text-align: center;
  margin: 0 0 8px 0;
}

.lable {
  text-align: center;
  padding: 65px 0 66px 0;
}

@media (max-width: 742px) {
  .lable {
    padding: 20px 0 33px 0;
  }
}

.lable h3 {
  font-weight: 300;
  font-size: 42px;
  color: #eaeaea;
  text-transform: uppercase;
}

@media (max-width: 742px) {
  .lable h3 {
    font-size: 20px;
  }
}

.YourPlate__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.YourPlate__cards--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .YourPlate__cards--line {
    padding: 0 50px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 742px) {
  .YourPlate__cards--line {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (max-width: 1100px) {
  .card {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #5d634d;
  }
}

@media (max-width: 742px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
}

.card .card__img {
  min-width: 270px;
  min-height: 274px;
}

@media (max-width: 742px) {
  .card .card__img {
    width: 100%;
  }
}

.card .text__card {
  text-align: center;
  max-width: 150px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .card .text__card {
    max-width: none;
  }
}

.card .text__card--title {
  font-family: 'GoodDog Cool';
  font-size: 29px;
  color: #afc67b;
  margin: 64px 0px 26px 0px;
}

@media (max-width: 742px) {
  .card .text__card--title {
    margin: 34px 0px 16px 0px;
  }
}

.card .text__card--text {
  font-family: 'MyriadPro Regular';
  font-size: 17px;
  color: #e8e8e8;
  margin: 0px 0px 20px 0px;
}

.card .text__card--price {
  font-family: 'GoodDog Cool';
  font-size: 25px;
  color: #e8e8e8;
  margin: 0px 0px 73px 0px;
}

@media (max-width: 742px) {
  .card .text__card--price {
    margin: 0px 0px 36px 0px;
  }
}

@media (max-width: 1100px) {
  .__order2 picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .__order2 .text__card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 742px) {
  .__order2 picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .__order2 .text__card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1100px) {
  .__order3 picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .__order3 .text__card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 742px) {
  .__order4 picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .__order4 .text__card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1100px) {
  .__order6 picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .__order6 .text__card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 742px) {
  .__order6 picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .__order6 .text__card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#weLike {
  background-color: #3e4136;
  padding: 114px 0 95px 0;
}

@media (max-width: 742px) {
  #weLike {
    padding: 44px 0 35px 0;
  }
}

#weLike .conteiner {
  max-width: 692px;
}

.weLike__title {
  margin: 0px 0px 32px 0px;
}

@media (max-width: 576px) {
  .weLike__title {
    margin: 0px 0px 19px 0px;
  }
}

.weLike__title h2 {
  font-size: 42px;
}

@media (max-width: 576px) {
  .weLike__title h2 {
    font-size: 33px;
  }
}

.weLike__text {
  text-align: center;
  font-family: 'MyriadPro Regular';
  font-size: 18px;
  color: #dcdcdb;
  line-height: normal;
  margin: 0px 0px 49px 0px;
}

@media (max-width: 576px) {
  .weLike__text {
    font-size: 14px;
  }
}

.weLike_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weLike_picture img {
  display: block;
  margin: 0px 4px 0px 0px;
}

#bac__food {
  background-color: #3e4136;
  position: relative;
}

#bac__food .bac__food {
  min-height: 1440px;
  padding-bottom: 2000px;
}

#Discover {
  background-color: #404236;
  padding: 48px 0 60px 0;
  position: absolute;
  top: 238px;
  width: 100%;
  opacity: 0.98;
}

#Discover .conteiner {
  max-width: 1195px;
}

.Discover__title {
  color: #e7e7e7;
}

.Discover__title h2 {
  font-size: 71px;
}

.Discover__title h3 {
  font-size: 46px;
}

@media (max-width: 450px) {
  .Discover__title h3 {
    font-size: 33px;
  }
}

.Discover__contentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .Discover__contentFlex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Discover__itemLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.Discover__circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 81px;
  min-height: 81px;
  border-radius: 50%;
  background-color: #c5c6c4;
}

@media (max-width: 950px) {
  .Discover__circle {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}

.Discover__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 54px 0px;
}

@media (max-width: 950px) {
  .Discover__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.Discover__card img {
  position: absolute;
  max-width: 62px;
  display: block;
}

.Discover__card--info {
  color: #e7e7e7;
  margin: 0px 0px 0px 8px;
  width: 333px;
}

@media (max-width: 950px) {
  .Discover__card--info {
    width: 100%;
  }
}

.Discover__card--info a {
  color: #e7e7e7;
}

.Discover__card--info .Discover__card--title {
  font-family: 'GoodDog Cool';
  font-size: 25px;
  margin: 0px 0px 14px 0px;
}

@media (max-width: 950px) {
  .Discover__card--info .Discover__card--title {
    margin: 0px 0px 0px 0px;
  }
}

.Discover__card--info .Discover__card--text {
  font-size: 14px;
  line-height: normal;
}

.Discover__card--info .Discover__card--text span {
  font-family: 'GoodDog Cool';
  font-size: 21px;
  margin: 0px 0px 0px 4px;
}

.img__1 {
  margin: 0px 0px 0px 6px;
}

@media (max-width: 950px) {
  .img__1 {
    margin: 22px 4px 0px 0px;
  }
}

.img__2 {
  margin: 0px 0px 0px 17px;
}

@media (max-width: 950px) {
  .img__2 {
    margin: 17px 0px 0px 0px;
  }
}

.img__3 {
  margin: 0px 0px 0px 13px;
}

@media (max-width: 950px) {
  .img__3 {
    margin: 22px 0px 0px 0px;
  }
}

.img__4 {
  margin: 0px 0px 0px 15px;
}

@media (max-width: 950px) {
  .img__4 {
    margin: 22px 0px 0px 0px;
  }
}

.img__5 {
  margin: 0px 0px 0px 20px;
}

@media (max-width: 950px) {
  .img__5 {
    margin: 19px 0px 0px 0px;
  }
}

.img__6 {
  margin: 0px 0px 0px 17px;
}

@media (max-width: 950px) {
  .img__6 {
    margin: 20px 0px 0px 0px;
  }
}

#book {
  background-color: #212121;
  padding: 46px 0 71px 0;
}

#book .titlle {
  font-size: 77px;
  color: #fff;
}

#book .conteiner {
  max-width: 1194px;
}

.book__title {
  margin: 0px 0px 35px 0px;
}

.book__formsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .book__formsFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form__lable {
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-align: left;
}

.book__view {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 237px;
  margin: 8px 0px 43px 0px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.book__view input {
  font-family: sans-serif;
  font-family: Montserrat;
  outline: 0;
}

@media (max-width: 850px) {
  .book__view {
    margin: 8px 0px 43px 0px;
  }
}

.book__form select:focus,
.book__form input:focus {
  border-color: #565f3e;
}

.book__form select:hover,
.book__form input:hover {
  border-color: #565f3e;
}

.book__form--people {
  position: relative;
}

.book__form--people select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.book__form--people:after {
  content: '';
  display: block;
  position: absolute;
  top: 39%;
  left: 89%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 6.5px 0 6.5px;
  border-color: #fff transparent transparent transparent;
}

.book__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book__send button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 82px 7px 86px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.book__send button:hover {
  border-color: #565f3e;
  color: #9cb35c;
}

.book__People,
.book__data,
.book__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 850px) {
  .book__People,
  .book__data,
  .book__time {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 550px) {
  .book__People,
  .book__data,
  .book__time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bac__food2__img {
  min-height: 865px;
}

#discover {
  background-color: #383b32;
  padding: 46px 0px 122px 0px;
}

#discover .conteiner {
  max-width: 1086px;
}

#discover .lable {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 55px 0px;
}

#discover .lable h2 {
  margin: 0px 0px 0px 0px;
}

#discover .lable h3 {
  margin: 0px 0px 0px 0px;
}

.discover__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -8px;
}

@media (max-width: 1100px) {
  .discover__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.discover__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  padding: 0px 8px;
}

@media (max-width: 1100px) {
  .discover__card {
    display: block;
    margin: 0px 0px 30px 0px;
  }
}

.discover__card:hover {
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.discover__img {
  padding: 88.79% 0px 0px 0px;
}

.info__dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e7e7e7;
  padding: 24px 0px 26px 21px;
}

.info__dis--title {
  font-weight: 700;
  font-size: 14px;
  color: #555555;
  margin: 0px 0px 23px 0px;
}

.info__dis--subtitle {
  font-size: 17px;
  font-weight: 700;
  color: #4f4e4e;
  margin: 0px 0px 7px 0px;
}

.info__dis--text {
  font-size: 17px;
  color: #4f4e4e;
  margin: 0px 0px 26px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info__dis--btn a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #555555;
  text-transform: uppercase;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.info__dis--btn a:hover {
  color: #ff8415;
}

.info__dis--btn a:after {
  content: '';
  display: block;
  bottom: 0;
  height: 7px;
  width: 100%;
  background-color: #afc67b;
  margin: 3px 0px 0px 0px;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.info__dis--btn a:hover:after {
  background-color: #332f32;
}

#linda {
  background-color: #212121;
  padding: 54px 0px 48px 0px;
}

@media (max-width: 450px) {
  #linda {
    padding: 20px 0px 30px 0px;
  }
}

#linda .conteiner {
  max-width: 690px;
  text-align: center;
}

.linda__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.linda__logoKov {
  font-family: 'GoodDog Cool';
  font-size: 83px;
  color: #afc67b;
}

.linda__text {
  font-size: 21px;
  color: #859661;
  line-height: normal;
  margin: -15px 0px 21px 0px;
}

@media (max-width: 767px) {
  .linda__text {
    font-size: 16px;
  }
}

.linda__logo {
  font-family: 'GoodDog Cool';
  font-size: 29px;
  color: #afc67b;
  margin: 0px 0px 33px 0px;
}

.linda__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linda__soc .linda__socImg {
  margin: 0px 0px 0px 25px;
}

.linda__soc .linda__socImg:first-child {
  margin: 0px 0px 0px 0px;
}

.linda__soc a {
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.linda__soc a:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
}

@media (max-width: 450px) {
  .linda__soc img {
    max-width: 36px;
    max-height: 36px;
  }
}
